body {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 290px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.jumbotron > h1 {
    margin-top: 0;
}


#footer {
    margin-top: 20px;
    text-align: center;
}

#footer .social-icon {
    display: inline-block;
    margin: 6px;
}

#footer .social-icon.inline img {
    margin-left: 6px;
}
