<!-- 01_mergasov -->

<div class="jumbotron">
    <h1>VeloCPPed — <nobr>С++</nobr> митап в Казани (21 апреля 2015)</h1>
    <h2>Многозадачность в С++. Обзор паттернов проектирования.</h2>
    <h3>Мергасов Алексей. Informatica Corp.</h3>

    <p class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EYt4_-l3mZA" frameborder="0" allowfullscreen></iframe>
    </p>

    <a href="images/20150423/mergasov_aleksey.zip" title="Исходные файлы кода Мергасова Алексея">Исходники</a>

    <div>
        <a class="btn btn-success" href="all.html" role="button">К остальным докладам</a>
    </div>
</div>

<!--/ 01_mergasov -->
