<!-- 03_valiullin -->

<div class="jumbotron">
    <h1>VeloCPPed — <nobr>С++</nobr> митап в Казани (21 апреля 2015)</h1>
    <h2>Числа с плавающей запятой.</h2>
    <h3>Расим Валиуллин. Тензор.</h3>

    <h3 class="text-muted text-center">Видео появится в ближайшее время.</h3>

    <p>Два слова о числовых типах в C/C++: числа с фиксированной и плавающей запятой. Основная идея и устройство чисел с плав. зап. Очень сжато ieee-754. Последствия для применения. Пример числа с плавающей запятой и эксперимент по интерпретации полученного образа как float.</p>

    <div>
        <a class="btn btn-success" href="all.html" role="button">К остальным докладам</a>
    </div>

</div>

<!--/ 03_valiullin -->
