<!doctype html>
<html class="no-js" lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VeloCPPed 21 апреля 2015 &#8211; Kazan C++ meetup</title>

        <!-- Twitter Cards -->
        <meta name="twitter:title" content="21 марта 2015">

        <meta name="twitter:site" content="@velocpped">
        <meta name="twitter:creator" content="@velocpped">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="title.png">

        <!-- Open Graph -->
        <meta property="og:locale" content="ru_RU">
        <meta property="og:type" content="article">
        <meta property="og:title" content="21 марта 2015">

        <meta property="og:url" content="/">
        <meta property="og:site_name" content="VeloCPPed">





        <meta name="description" content="VeloCPPed &#8211; митап C++ разработчиков в Казани">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <!-- Icons -->
        <!-- 16x16 -->
        <link rel="shortcut icon" href="favicon.ico">
        <!-- 32x32 -->
        <link rel="shortcut icon" href="favicon.png">
        <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-precomposed.png">
        <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72-precomposed.png">
        <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114-precomposed.png">
        <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144-precomposed.png">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">

            <!-- Static navbar -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="http://velocpped.ru/" title="VeloCPPed">
                            <img alt="VeloCPPed" src="images/logo.png" >
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="about.html">О проекте</a></li>
                            <li><a href="registration.html">Регистрация</a></li>
                            <li><a href="i-am-smart.html">Выступить</a></li>
                            <!--<li><a href="#">About</a></li>-->
                            <!--<li><a href="#">Contact</a></li>-->
                            <!--<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>-->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="speakers.html">Участники</a></li>
                            <li><a href="all.html">Доклады</a></li>

                            <li><a href="place.html">Где?</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav><!--/ Static navbar -->


            <!-- CONTENT BEGIN -->
