<!-- About -->

<div class="jumbotron">
    <h1>С++ митап в Казани</h1>

    <div class="row">

        <div class="col-md-6">
            <img class="hidden-md" src="images/horizontal.jpg" width="100%" alt="VeloCPPed">
            <img class="visible-md-block" src="images/sqare.jpg" width="80%" alt="VeloCPPed">
        </div>
        <div class="col-md-6">
            <p>Митапов очень много и Казань не исключение, но бесплатных по <nobr>С++</nobr> мы не нашли и решили организовать его сами, не без помощи конечно. Помещение и аппаратуру любезно предоставила <a href="http://tensor.ru/" title="ООО &quot;Компания &quot;Тензор&quot;">ООО "Компания "Тензор"</a>.</p>
            <p>Цель нашего митапа — создать сообщество <nobr>C/С++</nobr> разработчиков, шарить знания и делиться опытом.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Формат</h2>
            <p>Встречи будут проходить <a href="place.html">в офисе компании Тензор на Московской</a>. Каждая встреча будет включать от 2 до 4 докладов по <nbsp>30—40 минут</nbsp> + вопросы и один перерыв на кофебрейк. <strong>Вход — свободный!</strong></p>
            <p>Мы будем крайне рады, если <a href="i-am-smart.html">Вы решите поделиться своим уникальным опытом</a> с сообществом.</p>
        </div>
    </div>

    <p>
        <a class="btn btn-lg btn-success" href="registration.html" role="button">Я хочу послушать</a>
        <a class="btn btn-lg btn-default hidden-xs" href="i-am-smart.html" role="button">Выступить</a>
        <a class="btn btn-lg btn-info hidden-xs" href="place.html" role="button">Место проведения</a>
    </p>
</div>

<!--/ About -->
