<!-- MAN -->

<div class="jumbotron">
    <h1>VeloCPPed — <nobr>С++</nobr> митап в Казани (как рекламировать)</h1>

    <h2>1. YouTube</h2>

    <ul>
        <li>Подписаться на <a href="http://www.youtube.com/channel/UCavW1CfkxxkjC9JwQZvLpbQ">канал</a></li>
        <li>Посмотреть и лайкнуть <a href="https://youtu.be/0fgZssjp-NY">приветствие</a></li>
    </ul>

    <h2>2. Вконтакте</h2>

    <ul>
        <li>Принять участие в <a href="https://vk.com/event92116133">мероприятии</a></li>
        <li>Лайкнуть и сделать репост себе на страницу приветствия<br/><img src="images/man/vk-hello-post.jpg"><br/><br/></li>
        <li>Рассказать друзьям<br/><img src="images/man/vk-talk.jpg"><br/><br/></li>
        <li>Пригласить друзей (можно пригласить до 40 друзей в день)<br/><img src="images/man/vk-invitation.jpg"><br/><br/></li>
    </ul>

</div>

<!--/ MAN -->
